@import "tailwindcss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IslandMoments';
  src: url('/fonts/IslandMoments-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IslandMoments';
  src: url('/fonts/IslandMoments-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-myFont: 'IslandMoments', cursive;
  --color-primary: #0F3255;
   --gradient-film: radial-gradient(
    circle,
    #000000 0%,
    #252729 60%,
    #81888F 100%
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0.6) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0);
  }
}

\


@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.6s ease forwards;
  }
  .animate-dropdown {
    animation: dropdown 0.25s ease-out forwards;
  }
}
  .shadow-inner-perforation {
          box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}